.container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;

}

img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform .2s;
    margin-bottom: 10px;
}

img:hover {
    transform: scale(1.1) rotate(5deg);
}

.featured-product {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 250px;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1023.98px) {
    .container {
        justify-content: flex-start;
    }
}