@using Microsoft.JSInterop.WebAssembly
@inject ICartService CartService
@implements IDisposable
@rendermode InteractiveWebAssembly

<a href="cart" class="btn btn-info">
    <img src="https://i.imgur.com/eOwG6tK.png" alt="Cart Icon" style="width: 30px; height: 30px;">
    <span class="badge">@(_cartItems?.Count ?? 0)</span>
</a>


@code {

    List<CartItem> _cartItems = new List<CartItem>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        int prevCount = _cartItems.Count;
        _cartItems = await CartService.GetCartItems();
        if (prevCount != _cartItems.Count)
        {
            StateHasChanged();
        }
    }


    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}
