@inject NavigationManager NavigationManager

<a href="javascript:void(0)" @onclick="GoToHome">
    <img src="https://media.discordapp.net/attachments/1201161477126639739/1275350382826098732/5wg43t9.png?ex=66c5921a&is=66c4409a&hm=d866c24248b83f5966451d0bd92d32172d73e07e675de681a9b48feb7ccc84ba&=&format=webp&quality=lossless" alt="Hobbu Shop" style="height: 40px; width: auto; border: none; margin-right:50px" />
</a>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
