@inject NavigationManager NavigationManager

<a href="/" @onclick="GoToHome" style="cursor:pointer;">
    <img src="https://i.imgur.com/5wg43t9.png" alt="Hobbu Shop" style="height: 40px; width: auto; border: none; margin-right:50px" />
</a>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
